body{
    background-color: rgb(247, 247, 129);
    color: black;
    font-family: sans-serif;
    font-size: 10px;
    background-image:url(fundoat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
menu{
    font-size: x-large;
}
.hnome{
    font-style: italic;
    font-family: sans-serif;    
}   
div#interface{
    width: 90%;
    margin: 10px auto 10px auto;
}
h1{
    color:rgb(240, 240, 240);
}
nav{
    color: cornsilk;
}
#fotocapa{
    position: relative;
    float: right;
    border:2px solid rgb(250, 250, 250);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.747);
    width: 35%;
}
nav#menu{
    display: block;
    position: relative;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;    
}
nav#menu li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
    font-size: 20px;
    transition: background-color 1s;
}
nav#menu h1{
     display: none; 
}
nav#menu li:hover{
    background-color:rgb(238, 255, 1);
}
nav#menu a:hover{
    color: rgb(212, 28, 14);
    text-decoration: underline;
}
#hconteudo{
    font-size: 20px;
    color: rgb(8, 85, 85);
}
.hnome{
    font-family: cursive;
    font-size: 70px;
    color: rgba(17, 39, 245, 0.699);
}
.topo{
    font-family:sans-serif;
}
h2{
    color: rgb(233, 19, 19);
    font-family:sans-serif;
    font-size: 30px;
}
.contatos{
    padding: 5px;
    position: relative;
    font-size: 20px;
}
.redes{
    position: relative;
    margin: 20px;
    font-style: italic;
    font-size: medium;
}
a:hover{
    color: rgb(253, 0, 0);
    text-decoration: underline;
}
