body{
    background-color: rgb(247, 247, 129);
    color: black;
    font-family: sans-serif;
    font-size: 50px;
}
body.figure img#fotocapa{
    position: absolute;
    left: 100px;
    top: 50px;

}
header#cabecalho{
    border-bottom: 1px #000000 solid;
    height: 280px;
}    
div#interface{
    width: 800px;
    margin: 10px auto 10px auto;
}
h1{
    color:rgb(240, 240, 240);
}
nav{
    color: cornsilk;
}
#fotocapa{
    position: relative;
    float: right;
    border: 8px solid rgb(240, 219, 219);
    box-shadow: 1px 1px 4px black;
}
figcaption.legenda{
    position: absolute;
}
figure.fotocapa figcaption{
    position: absolute;
    top: 0px;
}
nav#menu{
    display: block;
    position: relative;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;    
}
nav#menu li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
    font-size: 20px;
    transition: background-color 1s;
}
nav#menu h1{
     display: none; 
}
nav#menu li:hover{
    background-color:rgba(156, 156, 24, 0.329);
}
nav#menu a{
    text-decoration: none;
}
nav#menu a:hover{
    color: whitesmoke;
    text-decoration: underline;
}
#titulo{
    font-size: 40px;
    font-family: monospace;
    color: mediumblue;
}
#titulo2{
    font-size: 40px;
    font-family: serif;
}
#htitulo{
    font-family: initial;
    font-size: 50px;
}
.hdescricao{
    font-size: 20px;
}
#hconteudo{
    font-size: 20px;
    color: teal;
}
.hnome{
    font-family: initial;
    font-size: 50px;
    color: red;
}
p{
    font-size: 20px;
    font-family: sans-serif;
}
.topo{
    font-family:sans-serif;
}
h2{
    color: rgb(16, 67, 196);
    font-family:sans-serif;
    font-size: 30px;
}